* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: sans-serif;
}

.box-wrapper {
  display: inline-block;
  margin: 30px 30px;
}
.cards-box {
  width: 15rem;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 1rem;
}
