* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: grey;
  font-family: sans-serif;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards-box {
  margin: 10px 20px;
  width: 13rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;

  padding: 5px;
  border: 1px solid black;
  border-radius: 1rem;
}
.image {
  max-width: 100px;
}
.tier-buttons {
  margin: 6px;
}
